/*box-sizing: border-box for all elements*/
* {
    box-sizing: border-box;
}
/* Sets the body element to 0 */
body {
    margin: 0;
}
/*nav styled with light grey. display set to flex allowing elements to be in flex container. space between for even distribute across main axis.*/
/*align items set to center, vertically aligning items. font set to work sans.*/
nav {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}
/*for ul elements inside nav bar. padding/margin @ 0, removes default spacing. display flex. list style none to remove default bullet points.*/
/*centered items horizontally with justify content. flex set to 1 to distribute space with ul elements.*/
header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
}
/*Google Fonts for logo ("Montserrat")*/
/*the "Logo" text is 3em with .2em of padding above and below*/
header nav .nav-bar-logo {
    font-family: 'montserrat', sans-serif;
    font-size: 2em;
    padding: .2em;
}
/* a (anchor) elements within the nav element inside a header element. display property to inline-block */
header nav a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
}
/*links turn blue on hover*/
header nav a:hover {
    color: blue;
}
/* aligned items to left side of nav bar using flex-start */
header nav .nav-l {
    justify-content: flex-start;
    font-size: 12px;
}
/* aligned items to left side of nav bar using flex-end */
header nav .nav-r {
    justify-content: flex-end;
    font-size: 12px;
}
