body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
/*padding to create space, border:setting width. margin:*/
div {
    padding: 10px;
    border: 2px;
    margin: 7px;
    border-style: solid;
    border-color: lightgrey;
    border-radius:5px;
    width: 70%;
}
.message-info {
    background-color: #CDDEFF;
    color: darkblue;
}
.message-success {
    background-color: #CFF3DA;
    color: green;
}
.message-warning {
    background-color: #FCFBC9;
    color:tan;
}
.message-error {
    background-color:#FAD3D7;
    color: mediumvioletred;
}