/* Shoto Todoroki Color Palette :) */
/* https://www.color-hex.com/color-palette/80514 */

.fancy-header {
    text-align: center;
    color: #923025; /* single line comment */
    text-decoration: underline;
    font-weight: bolder;
    font-size: 3em;
}

header p {
    color: #f8f0d0;
    font-weight: bold;
}

h2 {
    color: #a22821;
    text-decoration: underline;
}

hr {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, #923025, #fcf2c1);
}

body {
    background-color: #53968d;
    opacity: 100%;
    background-size: 100%;
    background-repeat: repeat-y;
}

ul {
    color: #bce9e4;
    list-style: square inside;
}

ol {
    list-style: upper-roman;
    color: #bce9e4;
    list-style-position: inside;
}

* {
    font-family: "Gill Sans", sans-serif;
}

table, th, td {
    border: 2px solid #fcf2c1;
    font-size: larger;
    color: #f8f0d0;
    text-align: center;
}

.center {
    margin: 0;
}

a:link {
    color: blue;
}

a:visited {
    color: #bce9e4;
}

a:hover {
    color: darkgreen;
}

a:active {
    color: red;
}

div>img {
    border: #fcf2c1 solid 7px;
}

